# Enable Nordic nRF52832 SoC
CONFIG_SOC_NRF52832_QFAA=y

# Enable required peripherals
CONFIG_GPIO=y
CONFIG_UART_CONSOLE=y

# Set the default stack size
CONFIG_MAIN_STACK_SIZE=2048

# Enable MCUBoot support
CONFIG_BOOTLOADER_MCUBOOT=y

# Enable Bluetooth support
CONFIG_BT=y
CONFIG_BT_PERIPHERAL=y
CONFIG_BT_DEVICE_NAME="MDBT50Q_1M"